In [1]:
import pandas as pd
from IPython.display import display
df = pd.read_csv('results.csv')
df.iloc[:, 5:] = df.iloc[:, 5:].replace(',', '', regex=True)
df.iloc[:, 4:] = df.iloc[:, 4:].apply(pd.to_numeric, errors='coerce')
pd.set_option('future.no_silent_downcasting', True)
df.fillna(0, inplace=True)
for x in df.columns[4:]:
    df[x] = df[x].astype(float)
for x in df.columns[4:]:
    df_copy =df.copy()
    tmp =df_copy[['Player',x]].sort_values(x)
    tmp.dropna(axis=0, inplace=True)
    print(f'Top 3 cầu thủ có chỉ số {x} cao nhất')
    display(tmp[-3:][::-1])
    print(f'Top 3 cầu thủ có chỉ số {x} thấp nhất')
    display(tmp[:3])

Top 3 cầu thủ có chỉ số Age cao nhất

               Player   Age
492  Łukasz Fabiański  38.0
47       Ashley Young  38.0
446      Thiago Silva  38.0

Top 3 cầu thủ có chỉ số Age thấp nhất

             Player   Age
277    Leon Chiwome  17.0
284     Lewis Miley  17.0
482  Wilson Odobert  18.0

Top 3 cầu thủ có chỉ số MP-Playing_Time-standard_stats cao nhất

               Player  MP-Playing_Time-standard_stats
210   James Tarkowski                            38.0
346      Moussa Diaby                            38.0
228  Joachim Andersen                            38.0

Top 3 cầu thủ có chỉ số MP-Playing_Time-standard_stats thấp nhất

            Player  MP-Playing_Time-standard_stats
320  Matheus Nunes                             2.0
358    Neal Maupay                             2.0
188     Ionuț Radu                             2.0

Top 3 cầu thủ có chỉ số Starts-Playing_Time-standard_stats cao nhất

              Player  Starts-Playing_Time-standard_stats
243  Jordan Pickford                                38.0
447  Thomas Kaminski                                38.0
62        Bernd Leno                                38.0

Top 3 cầu thủ có chỉ số Starts-Playing_Time-standard_stats thấp nhất

                Player  Starts-Playing_Time-standard_stats
324       Matt Ritchie                                 0.0
191       Ivan Perišić                                 0.0
226  Jesurun Rak Sakyi                                 0.0

Top 3 cầu thủ có chỉ số Min-Playing_Time-standard_stats cao nhất

                Player  Min-Playing_Time-standard_stats
169  Guglielmo Vicario                           3420.0
243    Jordan Pickford                           3420.0
33         André Onana                           3420.0

Top 3 cầu thủ có chỉ số Min-Playing_Time-standard_stats thấp nhất

              Player  Min-Playing_Time-standard_stats
236       John Fleck                             92.0
259  Kalvin Phillips                             93.0
191     Ivan Perišić                            103.0

Top 3 cầu thủ có chỉ số 90s-Playing_Time-standard_stats cao nhất

                Player  90s-Playing_Time-standard_stats
169  Guglielmo Vicario                             38.0
210    James Tarkowski                             38.0
243    Jordan Pickford                             38.0

Top 3 cầu thủ có chỉ số 90s-Playing_Time-standard_stats thấp nhất

              Player  90s-Playing_Time-standard_stats
259  Kalvin Phillips                              1.0
236       John Fleck                              1.0
191     Ivan Perišić                              1.1

Top 3 cầu thủ có chỉ số Gls-Performace-standard_stats cao nhất

             Player  Gls-Performace-standard_stats
149  Erling Haaland                           27.0
101     Cole Palmer                           22.0
16   Alexander Isak                           21.0

Top 3 cầu thủ có chỉ số Gls-Performace-standard_stats thấp nhất

              Player  Gls-Performace-standard_stats
0    Aaron Cresswell                            0.0
236       John Fleck                            0.0
239      Jonny Evans                            0.0

Top 3 cầu thủ có chỉ số Ast-Performace-standard_stats cao nhất

             Player  Ast-Performace-standard_stats
378   Ollie Watkins                           13.0
101     Cole Palmer                           11.0
39   Anthony Gordon                           10.0

Top 3 cầu thủ có chỉ số Ast-Performace-standard_stats thấp nhất

               Player  Ast-Performace-standard_stats
0     Aaron Cresswell                            0.0
281      Lewis Dobbin                            0.0
278  Lesley Ugochukwu                            0.0

Top 3 cầu thủ có chỉ số G+A-Performace-standard_stats cao nhất

             Player  G+A-Performace-standard_stats
101     Cole Palmer                           33.0
378   Ollie Watkins                           32.0
149  Erling Haaland                           32.0

Top 3 cầu thủ có chỉ số G+A-Performace-standard_stats thấp nhất

              Player  G+A-Performace-standard_stats
0    Aaron Cresswell                            0.0
217     Jason Steele                            0.0
220  Jaïro Riedewald                            0.0

Top 3 cầu thủ có chỉ số G-PK-Performace-standard_stats cao nhất

             Player  G-PK-Performace-standard_stats
149  Erling Haaland                            20.0
378   Ollie Watkins                            19.0
390      Phil Foden                            19.0

Top 3 cầu thủ có chỉ số G-PK-Performace-standard_stats thấp nhất

              Player  G-PK-Performace-standard_stats
0    Aaron Cresswell                             0.0
273      Kyle Walker                             0.0
270  Kostas Tsimikas                             0.0

Top 3 cầu thủ có chỉ số PK-Performace-standard_stats cao nhất

             Player  PK-Performace-standard_stats
101     Cole Palmer                           9.0
149  Erling Haaland                           7.0
74      Bukayo Saka                           6.0

Top 3 cầu thủ có chỉ số PK-Performace-standard_stats thấp nhất

              Player  PK-Performace-standard_stats
0    Aaron Cresswell                           0.0
330         Max Lowe                           0.0
329       Max Kilman                           0.0

Top 3 cầu thủ có chỉ số PKatt-Performace-standard_stats cao nhất

             Player  PKatt-Performace-standard_stats
101     Cole Palmer                              9.0
149  Erling Haaland                              8.0
341   Mohamed Salah                              7.0

Top 3 cầu thủ có chỉ số PKatt-Performace-standard_stats thấp nhất

              Player  PKatt-Performace-standard_stats
0    Aaron Cresswell                              0.0
329       Max Kilman                              0.0
328       Max Aarons                              0.0

Top 3 cầu thủ có chỉ số CrdY-Performace-standard_stats cao nhất

            Player  CrdY-Performace-standard_stats
249  João Palhinha                            13.0
305  Marcos Senesi                            13.0
133   Douglas Luiz                            12.0

Top 3 cầu thủ có chỉ số CrdY-Performace-standard_stats thấp nhất

                     Player  CrdY-Performace-standard_stats
492        Łukasz Fabiański                             0.0
60            Benson Manuel                             0.0
222  Jean-Ricner Bellegarde                             0.0

Top 3 cầu thủ có chỉ số CrdR-Performace-standard_stats cao nhất

              Player  CrdR-Performace-standard_stats
375  Oliver McBurnie                             2.0
488    Yves Bissouma                             2.0
400      Reece James                             2.0

Top 3 cầu thủ có chỉ số CrdR-Performace-standard_stats thấp nhất

              Player  CrdR-Performace-standard_stats
0    Aaron Cresswell                             0.0
327        Matz Sels                             0.0
326       Matty Cash                             0.0

Top 3 cầu thủ có chỉ số xG-Expected-standard_stats cao nhất

             Player  xG-Expected-standard_stats
149  Erling Haaland                        29.2
341   Mohamed Salah                        21.2
16   Alexander Isak                        20.3

Top 3 cầu thủ có chỉ số xG-Expected-standard_stats thấp nhất

               Player  xG-Expected-standard_stats
0     Aaron Cresswell                         0.0
278  Lesley Ugochukwu                         0.0
247           José Sá                         0.0

Top 3 cầu thủ có chỉ số npxG-Expected-standard_stats cao nhất

              Player  npxG-Expected-standard_stats
149   Erling Haaland                          22.9
363  Nicolas Jackson                          18.6
131  Dominic Solanke                          17.2

Top 3 cầu thủ có chỉ số npxG-Expected-standard_stats thấp nhất

               Player  npxG-Expected-standard_stats
0     Aaron Cresswell                           0.0
278  Lesley Ugochukwu                           0.0
247           José Sá                           0.0

Top 3 cầu thủ có chỉ số xAG-Expected-standard_stats cao nhất

              Player  xAG-Expected-standard_stats
70   Bruno Fernandes                         11.8
436    Son Heung-min                         11.8
341    Mohamed Salah                         11.8

Top 3 cầu thủ có chỉ số xAG-Expected-standard_stats thấp nhất

               Player  xAG-Expected-standard_stats
492  Łukasz Fabiański                          0.0
121        David Raya                          0.0
120        David Ozoh                          0.0

Top 3 cầu thủ có chỉ số npxG+xAG-Expected-standard_stats cao nhất

             Player  npxG+xAG-Expected-standard_stats
341   Mohamed Salah                              27.3
149  Erling Haaland                              27.2
378   Ollie Watkins                              24.2

Top 3 cầu thủ có chỉ số npxG+xAG-Expected-standard_stats thấp nhất

               Player  npxG+xAG-Expected-standard_stats
492  Łukasz Fabiański                               0.0
362         Nick Pope                               0.0
361              Neto                               0.0

Top 3 cầu thủ có chỉ số PrgC-Progression-standard_stats cao nhất

                 Player  PrgC-Progression-standard_stats
225         Jeremy Doku                            218.0
12   Alejandro Garnacho                            178.0
74          Bukayo Saka                            155.0

Top 3 cầu thủ có chỉ số PrgC-Progression-standard_stats thấp nhất

               Player  PrgC-Progression-standard_stats
492  Łukasz Fabiański                              0.0
327         Matz Sels                              0.0
325       Matt Turner                              0.0

Top 3 cầu thủ có chỉ số PrgP-Progression-standard_stats cao nhất

              Player  PrgP-Progression-standard_stats
409            Rodri                            376.0
312  Martin Ødegaard                            344.0
384      Pascal Groß                            302.0

Top 3 cầu thủ có chỉ số PrgP-Progression-standard_stats thấp nhất

            Player  PrgP-Progression-standard_stats
327      Matz Sels                              0.0
437  Stefan Ortega                              0.0
361           Neto                              0.0

Top 3 cầu thủ có chỉ số PrgR-Progression-standard_stats cao nhất

                 Player  PrgR-Progression-standard_stats
74          Bukayo Saka                            508.0
124    Dejan Kulusevski                            388.0
163  Gabriel Martinelli                            345.0

Top 3 cầu thủ có chỉ số PrgR-Progression-standard_stats thấp nhất

               Player  PrgR-Progression-standard_stats
492  Łukasz Fabiański                              0.0
35     Angelo Ogbonna                              0.0
362         Nick Pope                              0.0

Top 3 cầu thủ có chỉ số Gls-Per_90_Minutes-standard_stats cao nhất

             Player  Gls-Per_90_Minutes-standard_stats
423  Sasa Kalajdzic                               1.08
149  Erling Haaland                               0.95
227      Jhon Durán                               0.95

Top 3 cầu thủ có chỉ số Gls-Per_90_Minutes-standard_stats thấp nhất

              Player  Gls-Per_90_Minutes-standard_stats
0    Aaron Cresswell                                0.0
236       John Fleck                                0.0
239      Jonny Evans                                0.0

Top 3 cầu thủ có chỉ số Ast-Per_90_Minutes-standard_stats cao nhất

              Player  Ast-Per_90_Minutes-standard_stats
301    Manor Solomon                               0.90
191     Ivan Perišić                               0.87
264  Kevin De Bruyne                               0.74

Top 3 cầu thủ có chỉ số Ast-Per_90_Minutes-standard_stats thấp nhất

               Player  Ast-Per_90_Minutes-standard_stats
0     Aaron Cresswell                                0.0
281      Lewis Dobbin                                0.0
278  Lesley Ugochukwu                                0.0

Top 3 cầu thủ có chỉ số G+A-Per_90_Minutes-standard_stats cao nhất

             Player  G+A-Per_90_Minutes-standard_stats
10     Adama Traoré                               1.19
101     Cole Palmer                               1.14
149  Erling Haaland                               1.13

Top 3 cầu thủ có chỉ số G+A-Per_90_Minutes-standard_stats thấp nhất

              Player  G+A-Per_90_Minutes-standard_stats
0    Aaron Cresswell                                0.0
217     Jason Steele                                0.0
220  Jaïro Riedewald                                0.0

Top 3 cầu thủ có chỉ số G-PK-Per_90_Minutes-standard_stats cao nhất

             Player  G-PK-Per_90_Minutes-standard_stats
423  Sasa Kalajdzic                                1.08
227      Jhon Durán                                0.95
266   Kieffer Moore                                0.83

Top 3 cầu thủ có chỉ số G-PK-Per_90_Minutes-standard_stats thấp nhất

              Player  G-PK-Per_90_Minutes-standard_stats
0    Aaron Cresswell                                 0.0
273      Kyle Walker                                 0.0
270  Kostas Tsimikas                                 0.0

Top 3 cầu thủ có chỉ số G+A-PK-Per_90_Minutes-standard_stats cao nhất

             Player  G+A-PK-Per_90_Minutes-standard_stats
10     Adama Traoré                                  1.19
146       Enes Ünal                                  1.10
423  Sasa Kalajdzic                                  1.08

Top 3 cầu thủ có chỉ số G+A-PK-Per_90_Minutes-standard_stats thấp nhất

              Player  G+A-PK-Per_90_Minutes-standard_stats
0    Aaron Cresswell                                   0.0
217     Jason Steele                                   0.0
220  Jaïro Riedewald                                   0.0

Top 3 cầu thủ có chỉ số xG-Per_90_Minutes-standard_stats cao nhất

             Player  xG-Per_90_Minutes-standard_stats
266   Kieffer Moore                              1.23
358     Neal Maupay                              1.16
149  Erling Haaland                              1.03

Top 3 cầu thủ có chỉ số xG-Per_90_Minutes-standard_stats thấp nhất

                Player  xG-Per_90_Minutes-standard_stats
0      Aaron Cresswell                               0.0
285  Lisandro Martínez                               0.0
278   Lesley Ugochukwu                               0.0

Top 3 cầu thủ có chỉ số xAG-Per_90_Minutes-standard_stats cao nhất

              Player  xAG-Per_90_Minutes-standard_stats
264  Kevin De Bruyne                               0.85
191     Ivan Perišić                               0.75
423   Sasa Kalajdzic                               0.52

Top 3 cầu thủ có chỉ số xAG-Per_90_Minutes-standard_stats thấp nhất

                Player  xAG-Per_90_Minutes-standard_stats
492   Łukasz Fabiański                                0.0
362          Nick Pope                                0.0
145  Emiliano Martínez                                0.0

Top 3 cầu thủ có chỉ số xG+xAG-Per_90_Minutes-standard_stats cao nhất

             Player  xG+xAG-Per_90_Minutes-standard_stats
266   Kieffer Moore                                  1.44
358     Neal Maupay                                  1.22
149  Erling Haaland                                  1.18

Top 3 cầu thủ có chỉ số xG+xAG-Per_90_Minutes-standard_stats thấp nhất

               Player  xG+xAG-Per_90_Minutes-standard_stats
492  Łukasz Fabiański                                   0.0
437     Stefan Ortega                                   0.0
418     Sam Johnstone                                   0.0

Top 3 cầu thủ có chỉ số npxG-Per_90_Minutes-standard_stats cao nhất

             Player  npxG-Per_90_Minutes-standard_stats
266   Kieffer Moore                                1.23
358     Neal Maupay                                1.16
149  Erling Haaland                                0.81

Top 3 cầu thủ có chỉ số npxG-Per_90_Minutes-standard_stats thấp nhất

                Player  npxG-Per_90_Minutes-standard_stats
0      Aaron Cresswell                                 0.0
285  Lisandro Martínez                                 0.0
278   Lesley Ugochukwu                                 0.0

Top 3 cầu thủ có chỉ số npxG+xAG-Per_90_Minutes-standard_stats cao nhất

             Player  npxG+xAG-Per_90_Minutes-standard_stats
266   Kieffer Moore                                    1.44
358     Neal Maupay                                    1.22
423  Sasa Kalajdzic                                    1.09

Top 3 cầu thủ có chỉ số npxG+xAG-Per_90_Minutes-standard_stats thấp nhất

               Player  npxG+xAG-Per_90_Minutes-standard_stats
492  Łukasz Fabiański                                     0.0
247           José Sá                                     0.0
449  Thomas Strakosha                                     0.0

Top 3 cầu thủ có chỉ số GA-Performance-Goalkeeping cao nhất

              Player  GA-Performance-Goalkeeping
447  Thomas Kaminski                        85.0
475  Wes Foderingham                        79.0
309     Mark Flekken                        63.0

Top 3 cầu thủ có chỉ số GA-Performance-Goalkeeping thấp nhất

              Player  GA-Performance-Goalkeeping
0    Aaron Cresswell                         0.0
331    Maxime Estève                         0.0
330         Max Lowe                         0.0

Top 3 cầu thủ có chỉ số GA90-Performance-Goalkeeping cao nhất

          Player  GA90-Performance-Goalkeeping
188   Ionuț Radu                          3.50
193    Ivo Grbić                          2.92
408  Robin Olsen                          2.89

Top 3 cầu thủ có chỉ số GA90-Performance-Goalkeeping thấp nhất

              Player  GA90-Performance-Goalkeeping
0    Aaron Cresswell                           0.0
331    Maxime Estève                           0.0
330         Max Lowe                           0.0

Top 3 cầu thủ có chỉ số SoTA-Performance-Goalkeeping cao nhất

              Player  SoTA-Performance-Goalkeeping
447  Thomas Kaminski                         221.0
475  Wes Foderingham                         204.0
33       André Onana                         203.0

Top 3 cầu thủ có chỉ số SoTA-Performance-Goalkeeping thấp nhất

              Player  SoTA-Performance-Goalkeeping
0    Aaron Cresswell                           0.0
331    Maxime Estève                           0.0
330         Max Lowe                           0.0

Top 3 cầu thủ có chỉ số Saves-Performance-Goalkeeping cao nhất

              Player  Saves-Performance-Goalkeeping
33       André Onana                          146.0
447  Thomas Kaminski                          140.0
21   Alphonse Areola                          136.0

Top 3 cầu thủ có chỉ số Saves-Performance-Goalkeeping thấp nhất

              Player  Saves-Performance-Goalkeeping
0    Aaron Cresswell                            0.0
331    Maxime Estève                            0.0
330         Max Lowe                            0.0

Top 3 cầu thủ có chỉ số Save%-Performance-Goalkeeping cao nhất

               Player  Save%-Performance-Goalkeeping
44     Arijanet Muric                           80.8
310      Mark Travers                           77.8
449  Thomas Strakosha                           75.0

Top 3 cầu thủ có chỉ số Save%-Performance-Goalkeeping thấp nhất

              Player  Save%-Performance-Goalkeeping
0    Aaron Cresswell                            0.0
331    Maxime Estève                            0.0
330         Max Lowe                            0.0

Top 3 cầu thủ có chỉ số W-Performance-Goalkeeping cao nhất

                Player  W-Performance-Goalkeeping
137            Ederson                       24.0
121         David Raya                       23.0
169  Guglielmo Vicario                       20.0

Top 3 cầu thủ có chỉ số W-Performance-Goalkeeping thấp nhất

              Player  W-Performance-Goalkeeping
0    Aaron Cresswell                        0.0
332    Maxwel Cornet                        0.0
331    Maxime Estève                        0.0

Top 3 cầu thủ có chỉ số D-Performance-Goalkeeping cao nhất

              Player  D-Performance-Goalkeeping
21   Alphonse Areola                        9.0
243  Jordan Pickford                        9.0
361             Neto                        9.0

Top 3 cầu thủ có chỉ số D-Performance-Goalkeeping thấp nhất

              Player  D-Performance-Goalkeeping
0    Aaron Cresswell                        0.0
333    Michael Keane                        0.0
332    Maxwel Cornet                        0.0

Top 3 cầu thủ có chỉ số L-Performance-Goalkeeping cao nhất

              Player  L-Performance-Goalkeeping
447  Thomas Kaminski                       24.0
475  Wes Foderingham                       22.0
211   James Trafford                       20.0

Top 3 cầu thủ có chỉ số L-Performance-Goalkeeping thấp nhất

              Player  L-Performance-Goalkeeping
0    Aaron Cresswell                        0.0
332    Maxwel Cornet                        0.0
331    Maxime Estève                        0.0

Top 3 cầu thủ có chỉ số CS-Performance-Goalkeeping cao nhất

              Player  CS-Performance-Goalkeeping
121       David Raya                        16.0
243  Jordan Pickford                        13.0
137          Ederson                        10.0

Top 3 cầu thủ có chỉ số CS-Performance-Goalkeeping thấp nhất

              Player  CS-Performance-Goalkeeping
0    Aaron Cresswell                         0.0
332    Maxwel Cornet                         0.0
331    Maxime Estève                         0.0

Top 3 cầu thủ có chỉ số CS%-Performance-Goalkeeping cao nhất

            Player  CS%-Performance-Goalkeeping
437  Stefan Ortega                         60.0
310   Mark Travers                         50.0
121     David Raya                         50.0

Top 3 cầu thủ có chỉ số CS%-Performance-Goalkeeping thấp nhất

              Player  CS%-Performance-Goalkeeping
0    Aaron Cresswell                          0.0
332    Maxwel Cornet                          0.0
331    Maxime Estève                          0.0

Top 3 cầu thủ có chỉ số PKatt-Penalty_kicks-Goalkeeping cao nhất

              Player  PKatt-Penalty_kicks-Goalkeeping
243  Jordan Pickford                              8.0
62        Bernd Leno                              8.0
247          José Sá                              8.0

Top 3 cầu thủ có chỉ số PKatt-Penalty_kicks-Goalkeeping thấp nhất

              Player  PKatt-Penalty_kicks-Goalkeeping
0    Aaron Cresswell                              0.0
333    Michael Keane                              0.0
332    Maxwel Cornet                              0.0

Top 3 cầu thủ có chỉ số PKA-Penalty_kicks-Goalkeeping cao nhất

              Player  PKA-Penalty_kicks-Goalkeeping
243  Jordan Pickford                            8.0
62        Bernd Leno                            8.0
247          José Sá                            8.0

Top 3 cầu thủ có chỉ số PKA-Penalty_kicks-Goalkeeping thấp nhất

              Player  PKA-Penalty_kicks-Goalkeeping
0    Aaron Cresswell                            0.0
334    Michael Olise                            0.0
333    Michael Keane                            0.0

Top 3 cầu thủ có chỉ số PKsv-Penalty_kicks-Goalkeeping cao nhất

              Player  PKsv-Penalty_kicks-Goalkeeping
21   Alphonse Areola                             2.0
121       David Raya                             1.0
44    Arijanet Muric                             1.0

Top 3 cầu thủ có chỉ số PKsv-Penalty_kicks-Goalkeeping thấp nhất

              Player  PKsv-Penalty_kicks-Goalkeeping
0    Aaron Cresswell                             0.0
333    Michael Keane                             0.0
332    Maxwel Cornet                             0.0

Top 3 cầu thủ có chỉ số PKm-Penalty_kicks-Goalkeeping cao nhất

              Player  PKm-Penalty_kicks-Goalkeeping
491   Đorđe Petrović                            1.0
475  Wes Foderingham                            1.0
193        Ivo Grbić                            1.0

Top 3 cầu thủ có chỉ số PKm-Penalty_kicks-Goalkeeping thấp nhất

              Player  PKm-Penalty_kicks-Goalkeeping
0    Aaron Cresswell                            0.0
335  Michail Antonio                            0.0
334    Michael Olise                            0.0

Top 3 cầu thủ có chỉ số Save%-Penalty_kicks-Goalkeeping cao nhất

             Player  Save%-Penalty_kicks-Goalkeeping
408     Robin Olsen                            100.0
44   Arijanet Muric                             50.0
121      David Raya                             33.3

Top 3 cầu thủ có chỉ số Save%-Penalty_kicks-Goalkeeping thấp nhất

              Player  Save%-Penalty_kicks-Goalkeeping
0    Aaron Cresswell                              0.0
333    Michael Keane                              0.0
332    Maxwel Cornet                              0.0

Top 3 cầu thủ có chỉ số Gls-Standard-Shooting cao nhất

             Player  Gls-Standard-Shooting
149  Erling Haaland                   27.0
101     Cole Palmer                   22.0
16   Alexander Isak                   21.0

Top 3 cầu thủ có chỉ số Gls-Standard-Shooting thấp nhất

              Player  Gls-Standard-Shooting
0    Aaron Cresswell                    0.0
236       John Fleck                    0.0
239      Jonny Evans                    0.0

Top 3 cầu thủ có chỉ số Sh-Standard-Shooting cao nhất

             Player  Sh-Standard-Shooting
149  Erling Haaland                 113.0
117    Darwin Núñez                 107.0
378   Ollie Watkins                 107.0

Top 3 cầu thủ có chỉ số Sh-Standard-Shooting thấp nhất

              Player  Sh-Standard-Shooting
0    Aaron Cresswell                   0.0
247          José Sá                   0.0
491   Đorđe Petrović                   0.0

Top 3 cầu thủ có chỉ số SoT-Standard-Shooting cao nhất

             Player  SoT-Standard-Shooting
149  Erling Haaland                   50.0
390      Phil Foden                   48.0
341   Mohamed Salah                   47.0

Top 3 cầu thủ có chỉ số SoT-Standard-Shooting thấp nhất

              Player  SoT-Standard-Shooting
0    Aaron Cresswell                    0.0
211   James Trafford                    0.0
217     Jason Steele                    0.0

Top 3 cầu thủ có chỉ số SoT%-Standard-Shooting cao nhất

           Player  SoT%-Standard-Shooting
75   Bénie Traoré                   100.0
93   Chris Mepham                   100.0
451      Tim Ream                   100.0

Top 3 cầu thủ có chỉ số SoT%-Standard-Shooting thấp nhất

              Player  SoT%-Standard-Shooting
0    Aaron Cresswell                     0.0
211   James Trafford                     0.0
217     Jason Steele                     0.0

Top 3 cầu thủ có chỉ số Sh/90-Standard-Shooting cao nhất

            Player  Sh/90-Standard-Shooting
146      Enes Ünal                     6.31
254   Julio Enciso                     5.31
266  Kieffer Moore                     5.00

Top 3 cầu thủ có chỉ số Sh/90-Standard-Shooting thấp nhất

              Player  Sh/90-Standard-Shooting
0    Aaron Cresswell                      0.0
247          José Sá                      0.0
491   Đorđe Petrović                      0.0

Top 3 cầu thủ có chỉ số SoT/90-Standard-Shooting cao nhất

           Player  SoT/90-Standard-Shooting
358   Neal Maupay                      3.24
324  Matt Ritchie                      2.81
146     Enes Ünal                      2.20

Top 3 cầu thủ có chỉ số SoT/90-Standard-Shooting thấp nhất

              Player  SoT/90-Standard-Shooting
0    Aaron Cresswell                       0.0
211   James Trafford                       0.0
217     Jason Steele                       0.0

Top 3 cầu thủ có chỉ số G/Sh-Standard-Shooting cao nhất

                 Player  G/Sh-Standard-Shooting
172     Hannibal Mejbri                     1.0
451            Tim Ream                     1.0
274  Leander Dendoncker                     0.5

Top 3 cầu thủ có chỉ số G/Sh-Standard-Shooting thấp nhất

              Player  G/Sh-Standard-Shooting
0    Aaron Cresswell                     0.0
273      Kyle Walker                     0.0
270  Kostas Tsimikas                     0.0

Top 3 cầu thủ có chỉ số G/SoT-Standard-Shooting cao nhất

             Player  G/SoT-Standard-Shooting
263      Kenny Tete                      1.0
379    Orel Mangala                      1.0
88   Charlie Taylor                      1.0

Top 3 cầu thủ có chỉ số G/SoT-Standard-Shooting thấp nhất

              Player  G/SoT-Standard-Shooting
0    Aaron Cresswell                      0.0
273      Kyle Walker                      0.0
270  Kostas Tsimikas                      0.0

Top 3 cầu thủ có chỉ số Dist-Standard-Shooting cao nhất

             Player  Dist-Standard-Shooting
376  Oliver Norwood                    32.9
273     Kyle Walker                    29.4
343  Moisés Caicedo                    29.0

Top 3 cầu thủ có chỉ số Dist-Standard-Shooting thấp nhất

              Player  Dist-Standard-Shooting
0    Aaron Cresswell                     0.0
247          José Sá                     0.0
491   Đorđe Petrović                     0.0

Top 3 cầu thủ có chỉ số FK-Standard-Shooting cao nhất

                Player  FK-Standard-Shooting
212  James Ward-Prowse                  16.0
255     Julián Álvarez                  13.0
135       Eberechi Eze                  12.0

Top 3 cầu thủ có chỉ số FK-Standard-Shooting thấp nhất

              Player  FK-Standard-Shooting
0    Aaron Cresswell                   0.0
325      Matt Turner                   0.0
324     Matt Ritchie                   0.0

Top 3 cầu thủ có chỉ số PK-Standard-Shooting cao nhất

             Player  PK-Standard-Shooting
101     Cole Palmer                   9.0
149  Erling Haaland                   7.0
74      Bukayo Saka                   6.0

Top 3 cầu thủ có chỉ số PK-Standard-Shooting thấp nhất

              Player  PK-Standard-Shooting
0    Aaron Cresswell                   0.0
330         Max Lowe                   0.0
329       Max Kilman                   0.0

Top 3 cầu thủ có chỉ số PKatt-Standard-Shooting cao nhất

             Player  PKatt-Standard-Shooting
101     Cole Palmer                      9.0
149  Erling Haaland                      8.0
341   Mohamed Salah                      7.0

Top 3 cầu thủ có chỉ số PKatt-Standard-Shooting thấp nhất

              Player  PKatt-Standard-Shooting
0    Aaron Cresswell                      0.0
329       Max Kilman                      0.0
328       Max Aarons                      0.0

Top 3 cầu thủ có chỉ số xG-Expected-Shooting cao nhất

             Player  xG-Expected-Shooting
149  Erling Haaland                  29.2
341   Mohamed Salah                  21.2
16   Alexander Isak                  20.3

Top 3 cầu thủ có chỉ số xG-Expected-Shooting thấp nhất

               Player  xG-Expected-Shooting
0     Aaron Cresswell                   0.0
278  Lesley Ugochukwu                   0.0
247           José Sá                   0.0

Top 3 cầu thủ có chỉ số npxG-Expected-Shooting cao nhất

              Player  npxG-Expected-Shooting
149   Erling Haaland                    22.9
363  Nicolas Jackson                    18.6
131  Dominic Solanke                    17.2

Top 3 cầu thủ có chỉ số npxG-Expected-Shooting thấp nhất

               Player  npxG-Expected-Shooting
0     Aaron Cresswell                     0.0
278  Lesley Ugochukwu                     0.0
247           José Sá                     0.0

Top 3 cầu thủ có chỉ số npxG/Sh-Expected-Shooting cao nhất

                 Player  npxG/Sh-Expected-Shooting
451            Tim Ream                       0.96
432    Shandon Baptiste                       0.45
274  Leander Dendoncker                       0.37

Top 3 cầu thủ có chỉ số npxG/Sh-Expected-Shooting thấp nhất

              Player  npxG/Sh-Expected-Shooting
0    Aaron Cresswell                        0.0
247          José Sá                        0.0
491   Đorđe Petrović                        0.0

Top 3 cầu thủ có chỉ số G-xG-Expected-Shooting cao nhất

                   Player  G-xG-Expected-Shooting
390            Phil Foden                     8.7
76     Callum Hudson-Odoi                     5.3
221  Jean-Philippe Mateta                     5.1

Top 3 cầu thủ có chỉ số G-xG-Expected-Shooting thấp nhất

                    Player  G-xG-Expected-Shooting
130  Dominic Calvert-Lewin                    -5.9
117           Darwin Núñez                    -5.3
68         Brennan Johnson                    -5.3

Top 3 cầu thủ có chỉ số Cmp-Total-Passing cao nhất

          Player  Cmp-Total-Passing
409        Rodri             3365.0
282   Lewis Dunk             2977.0
384  Pascal Groß             2774.0

Top 3 cầu thủ có chỉ số Cmp-Total-Passing thấp nhất

           Player  Cmp-Total-Passing
277  Leon Chiwome               19.0
358   Neal Maupay               22.0
14     Alex Iwobi               27.0

Top 3 cầu thủ có chỉ số Att-Total-Passing cao nhất

          Player  Att-Total-Passing
409        Rodri             3656.0
282   Lewis Dunk             3233.0
384  Pascal Groß             3223.0

Top 3 cầu thủ có chỉ số Att-Total-Passing thấp nhất

              Player  Att-Total-Passing
277     Leon Chiwome               22.0
358      Neal Maupay               26.0
172  Hannibal Mejbri               38.0

Top 3 cầu thủ có chỉ số Cmp%-Total-Passing cao nhất

            Player  Cmp%-Total-Passing
446   Thiago Silva                94.7
120     David Ozoh                94.1
316  Mateo Kovačić                94.0

Top 3 cầu thủ có chỉ số Cmp%-Total-Passing thấp nhất

            Player  Cmp%-Total-Passing
193      Ivo Grbić                49.7
477  William Osula                52.7
192     Ivan Toney                53.5

Top 3 cầu thủ có chỉ số TotDist-Total-Passing cao nhất

              Player  TotDist-Total-Passing
409            Rodri                57256.0
282       Lewis Dunk                50791.0
469  Virgil van Dijk                49290.0

Top 3 cầu thủ có chỉ số TotDist-Total-Passing thấp nhất

            Player  TotDist-Total-Passing
277   Leon Chiwome                  244.0
266  Kieffer Moore                  272.0
358    Neal Maupay                  353.0

Top 3 cầu thủ có chỉ số PrgDist-Total-Passing cao nhất

              Player  PrgDist-Total-Passing
243  Jordan Pickford                26388.0
309     Mark Flekken                22385.0
447  Thomas Kaminski                22188.0

Top 3 cầu thủ có chỉ số PrgDist-Total-Passing thấp nhất

            Player  PrgDist-Total-Passing
358    Neal Maupay                   14.0
353  Nathan Fraser                   45.0
277   Leon Chiwome                   59.0

Top 3 cầu thủ có chỉ số Cmp-Short-Passing cao nhất

          Player  Cmp-Short-Passing
409        Rodri             1676.0
384  Pascal Groß             1583.0
282   Lewis Dunk             1343.0

Top 3 cầu thủ có chỉ số Cmp-Short-Passing thấp nhất

               Player  Cmp-Short-Passing
449  Thomas Strakosha                6.0
310      Mark Travers               10.0
358       Neal Maupay               12.0

Top 3 cầu thủ có chỉ số Att-Short-Passing cao nhất

          Player  Att-Short-Passing
409        Rodri             1774.0
384  Pascal Groß             1674.0
282   Lewis Dunk             1382.0

Top 3 cầu thủ có chỉ số Att-Short-Passing thấp nhất

               Player  Att-Short-Passing
449  Thomas Strakosha                6.0
310      Mark Travers               10.0
358       Neal Maupay               13.0

Top 3 cầu thủ có chỉ số Cmp%-Short-Passing cao nhất

               Player  Cmp%-Short-Passing
492  Łukasz Fabiański               100.0
60      Benson Manuel               100.0
327         Matz Sels               100.0

Top 3 cầu thủ có chỉ số Cmp%-Short-Passing thấp nhất

               Player  Cmp%-Short-Passing
477     William Osula                58.9
487  Youssef Chermiti                59.4
192        Ivan Toney                61.6

Top 3 cầu thủ có chỉ số Cmp-Medium-Passing cao nhất

              Player  Cmp-Medium-Passing
469  Virgil van Dijk              1343.0
282       Lewis Dunk              1340.0
478   William Saliba              1298.0

Top 3 cầu thủ có chỉ số Cmp-Medium-Passing thấp nhất

            Player  Cmp-Medium-Passing
266  Kieffer Moore                 4.0
277   Leon Chiwome                 6.0
332  Maxwel Cornet                 6.0

Top 3 cầu thủ có chỉ số Att-Medium-Passing cao nhất

              Player  Att-Medium-Passing
282       Lewis Dunk              1417.0
469  Virgil van Dijk              1412.0
478   William Saliba              1373.0

Top 3 cầu thủ có chỉ số Att-Medium-Passing thấp nhất

            Player  Att-Medium-Passing
277   Leon Chiwome                 6.0
266  Kieffer Moore                 8.0
332  Maxwel Cornet                 8.0

Top 3 cầu thủ có chỉ số Cmp%-Medium-Passing cao nhất

                   Player  Cmp%-Medium-Passing
492      Łukasz Fabiański                100.0
370  Odisseas Vlachodimos                100.0
120            David Ozoh                100.0

Top 3 cầu thủ có chỉ số Cmp%-Medium-Passing thấp nhất

                    Player  Cmp%-Medium-Passing
477          William Osula                 40.0
402         Rhian Brewster                 45.5
130  Dominic Calvert-Lewin                 49.5

Top 3 cầu thủ có chỉ số Cmp-Long-Passing cao nhất

              Player  Cmp-Long-Passing
243  Jordan Pickford             461.0
309     Mark Flekken             394.0
447  Thomas Kaminski             362.0

Top 3 cầu thủ có chỉ số Cmp-Long-Passing thấp nhất

            Player  Cmp-Long-Passing
120     David Ozoh               0.0
332  Maxwel Cornet               0.0
353  Nathan Fraser               0.0

Top 3 cầu thủ có chỉ số Att-Long-Passing cao nhất

              Player  Att-Long-Passing
243  Jordan Pickford            1031.0
447  Thomas Kaminski             937.0
309     Mark Flekken             832.0

Top 3 cầu thủ có chỉ số Att-Long-Passing thấp nhất

                Player  Att-Long-Passing
353      Nathan Fraser               0.0
450     Tim Iroegbunam               0.0
156  Facundo Pellistri               0.0

Top 3 cầu thủ có chỉ số Cmp%-Long-Passing cao nhất

              Player  Cmp%-Long-Passing
69   Brennan Johnson              100.0
83   Carlos Vinícius              100.0
358      Neal Maupay              100.0

Top 3 cầu thủ có chỉ số Cmp%-Long-Passing thấp nhất

            Player  Cmp%-Long-Passing
120     David Ozoh                0.0
353  Nathan Fraser                0.0
332  Maxwel Cornet                0.0

Top 3 cầu thủ có chỉ số Ast-Long-Passing cao nhất

             Player  Ast-Long-Passing
378   Ollie Watkins              13.0
101     Cole Palmer              11.0
39   Anthony Gordon              10.0

Top 3 cầu thủ có chỉ số Ast-Long-Passing thấp nhất

               Player  Ast-Long-Passing
0     Aaron Cresswell               0.0
281      Lewis Dobbin               0.0
278  Lesley Ugochukwu               0.0

Top 3 cầu thủ có chỉ số xAG-Expected-Passing cao nhất

              Player  xAG-Expected-Passing
70   Bruno Fernandes                  11.8
436    Son Heung-min                  11.8
341    Mohamed Salah                  11.8

Top 3 cầu thủ có chỉ số xAG-Expected-Passing thấp nhất

               Player  xAG-Expected-Passing
492  Łukasz Fabiański                   0.0
121        David Raya                   0.0
120        David Ozoh                   0.0

Top 3 cầu thủ có chỉ số xA-Expected-Passing cao nhất

              Player  xA-Expected-Passing
312  Martin Ødegaard                 11.2
74       Bukayo Saka                 11.0
70   Bruno Fernandes                 10.2

Top 3 cầu thủ có chỉ số xA-Expected-Passing thấp nhất

               Player  xA-Expected-Passing
492  Łukasz Fabiański                  0.0
362         Nick Pope                  0.0
361              Neto                  0.0

Top 3 cầu thủ có chỉ số A-xAG-Expected-Passing cao nhất

            Player  A-xAG-Expected-Passing
378  Ollie Watkins                     5.7
409          Rodri                     5.1
386     Pedro Neto                     4.6

Top 3 cầu thủ có chỉ số A-xAG-Expected-Passing thấp nhất

                 Player  A-xAG-Expected-Passing
124    Dejan Kulusevski                    -4.7
70      Bruno Fernandes                    -3.8
132  Dominik Szoboszlai                    -3.8

Top 3 cầu thủ có chỉ số KP-Expected-Passing cao nhất

              Player  KP-Expected-Passing
70   Bruno Fernandes                114.0
384      Pascal Groß                103.0
312  Martin Ødegaard                102.0

Top 3 cầu thủ có chỉ số KP-Expected-Passing thấp nhất

               Player  KP-Expected-Passing
492  Łukasz Fabiański                  0.0
260   Kalvin Phillips                  0.0
111    Daniel Bentley                  0.0

Top 3 cầu thủ có chỉ số 1/3-Expected-Passing cao nhất

          Player  1/3-Expected-Passing
409        Rodri                 378.0
384  Pascal Groß                 242.0
123  Declan Rice                 240.0

Top 3 cầu thủ có chỉ số 1/3-Expected-Passing thấp nhất

            Player  1/3-Expected-Passing
188     Ionuț Radu                   0.0
332  Maxwel Cornet                   0.0
353  Nathan Fraser                   0.0

Top 3 cầu thủ có chỉ số PPA-Expected-Passing cao nhất

              Player  PPA-Expected-Passing
312  Martin Ødegaard                 130.0
70   Bruno Fernandes                  89.0
384      Pascal Groß                  73.0

Top 3 cầu thủ có chỉ số PPA-Expected-Passing thấp nhất

               Player  PPA-Expected-Passing
492  Łukasz Fabiański                   0.0
90   Cheikhou Kouyaté                   0.0
325       Matt Turner                   0.0

Top 3 cầu thủ có chỉ số CrsPA-Expected-Passing cao nhất

               Player  CrsPA-Expected-Passing
384       Pascal Groß                    27.0
42   Antonee Robinson                    26.0
18      Alfie Doughty                    24.0

Top 3 cầu thủ có chỉ số CrsPA-Expected-Passing thấp nhất

              Player  CrsPA-Expected-Passing
0    Aaron Cresswell                     0.0
232      Joe Worrall                     0.0
234        Joelinton                     0.0

Top 3 cầu thủ có chỉ số PrgP-Expected-Passing cao nhất

              Player  PrgP-Expected-Passing
409            Rodri                  376.0
312  Martin Ødegaard                  344.0
384      Pascal Groß                  302.0

Top 3 cầu thủ có chỉ số PrgP-Expected-Passing thấp nhất

            Player  PrgP-Expected-Passing
327      Matz Sels                    0.0
437  Stefan Ortega                    0.0
361           Neto                    0.0

Top 3 cầu thủ có chỉ số Live-Pass_types-Pass_types cao nhất

          Player  Live-Pass_types-Pass_types
409        Rodri                      3572.0
282   Lewis Dunk                      3005.0
384  Pascal Groß                      2903.0

Top 3 cầu thủ có chỉ số Live-Pass_types-Pass_types thấp nhất

           Player  Live-Pass_types-Pass_types
277  Leon Chiwome                        18.0
358   Neal Maupay                        23.0
14     Alex Iwobi                        34.0

Top 3 cầu thủ có chỉ số Dead-Pass_types-Pass_types cao nhất

              Player  Dead-Pass_types-Pass_types
243  Jordan Pickford                       496.0
447  Thomas Kaminski                       493.0
18     Alfie Doughty                       489.0

Top 3 cầu thủ có chỉ số Dead-Pass_types-Pass_types thấp nhất

                 Player  Dead-Pass_types-Pass_types
355      Nathan Redmond                         0.0
85   Carney Chukwuemeka                         0.0
90     Cheikhou Kouyaté                         0.0

Top 3 cầu thủ có chỉ số FK-Pass_types-Pass_types cao nhất

              Player  FK-Pass_types-Pass_types
243  Jordan Pickford                     223.0
309     Mark Flekken                     166.0
447  Thomas Kaminski                     152.0

Top 3 cầu thủ có chỉ số FK-Pass_types-Pass_types thấp nhất

                 Player  FK-Pass_types-Pass_types
274  Leander Dendoncker                       0.0
83      Carlos Vinícius                       0.0
156   Facundo Pellistri                       0.0

Top 3 cầu thủ có chỉ số TB-Pass_types-Pass_types cao nhất

              Player  TB-Pass_types-Pass_types
312  Martin Ødegaard                      39.0
290    Lucas Paquetá                      30.0
70   Bruno Fernandes                      30.0

Top 3 cầu thủ có chỉ số TB-Pass_types-Pass_types thấp nhất

              Player  TB-Pass_types-Pass_types
0    Aaron Cresswell                       0.0
235        John Egan                       0.0
238      John Stones                       0.0

Top 3 cầu thủ có chỉ số Sw-Pass_types-Pass_types cao nhất

                     Player  Sw-Pass_types-Pass_types
153            Fabian Schär                      41.0
409                   Rodri                      36.0
461  Trent Alexander-Arnold                      32.0

Top 3 cầu thủ có chỉ số Sw-Pass_types-Pass_types thấp nhất

                   Player  Sw-Pass_types-Pass_types
301         Manor Solomon                       0.0
370  Odisseas Vlachodimos                       0.0
424         Saïd Benrahma                       0.0

Top 3 cầu thủ có chỉ số Crs-Pass_types-Pass_types cao nhất

            Player  Crs-Pass_types-Pass_types
18   Alfie Doughty                      340.0
384    Pascal Groß                      238.0
134  Dwight McNeil                      229.0

Top 3 cầu thủ có chỉ số Crs-Pass_types-Pass_types thấp nhất

               Player  Crs-Pass_types-Pass_types
492  Łukasz Fabiański                        0.0
358       Neal Maupay                        0.0
62         Bernd Leno                        0.0

Top 3 cầu thủ có chỉ số TI-Pass_types-Pass_types cao nhất

              Player  TI-Pass_types-Pass_types
464  Tyrick Mitchell                     347.0
473  Vladimír Coufal                     319.0
387      Pedro Porro                     295.0

Top 3 cầu thủ có chỉ số TI-Pass_types-Pass_types thấp nhất

               Player  TI-Pass_types-Pass_types
492  Łukasz Fabiański                       0.0
247           José Sá                       0.0
95         Chris Wood                       0.0

Top 3 cầu thủ có chỉ số CK-Pass_types-Pass_types cao nhất

             Player  CK-Pass_types-Pass_types
70  Bruno Fernandes                     151.0
18    Alfie Doughty                     151.0
28  Andreas Pereira                     148.0

Top 3 cầu thủ có chỉ số CK-Pass_types-Pass_types thấp nhất

               Player  CK-Pass_types-Pass_types
492  Łukasz Fabiański                       0.0
242      Jordan Clark                       0.0
241      Jordan Beyer                       0.0

Top 3 cầu thủ có chỉ số In-Corner_Kicks-Pass_types cao nhất

            Player  In-Corner_Kicks-Pass_types
74     Bukayo Saka                        99.0
280     Lewis Cook                        81.0
18   Alfie Doughty                        66.0

Top 3 cầu thủ có chỉ số In-Corner_Kicks-Pass_types thấp nhất

               Player  In-Corner_Kicks-Pass_types
492  Łukasz Fabiański                         0.0
251        Joël Matip                         0.0
250        João Pedro                         0.0

Top 3 cầu thủ có chỉ số Out-Corner_Kicks-Pass_types cao nhất

              Player  Out-Corner_Kicks-Pass_types
18     Alfie Doughty                         80.0
28   Andreas Pereira                         74.0
384      Pascal Groß                         57.0

Top 3 cầu thủ có chỉ số Out-Corner_Kicks-Pass_types thấp nhất

               Player  Out-Corner_Kicks-Pass_types
492  Łukasz Fabiański                          0.0
282        Lewis Dunk                          0.0
281      Lewis Dobbin                          0.0

Top 3 cầu thủ có chỉ số Str-Corner_Kicks-Pass_types cao nhất

              Player  Str-Corner_Kicks-Pass_types
382    Pablo Sarabia                         10.0
70   Bruno Fernandes                          8.0
267  Kieran Trippier                          8.0

Top 3 cầu thủ có chỉ số Str-Corner_Kicks-Pass_types thấp nhất

              Player  Str-Corner_Kicks-Pass_types
0    Aaron Cresswell                          0.0
331    Maxime Estève                          0.0
330         Max Lowe                          0.0

Top 3 cầu thủ có chỉ số Cmp-Outcomes-Pass_types cao nhất

          Player  Cmp-Outcomes-Pass_types
409        Rodri                   3365.0
282   Lewis Dunk                   2977.0
384  Pascal Groß                   2774.0

Top 3 cầu thủ có chỉ số Cmp-Outcomes-Pass_types thấp nhất

           Player  Cmp-Outcomes-Pass_types
277  Leon Chiwome                     19.0
358   Neal Maupay                     22.0
14     Alex Iwobi                     27.0

Top 3 cầu thủ có chỉ số Off-Outcomes-Pass_types cao nhất

              Player  Off-Outcomes-Pass_types
70   Bruno Fernandes                     23.0
147   Enzo Fernández                     17.0
312  Martin Ødegaard                     16.0

Top 3 cầu thủ có chỉ số Off-Outcomes-Pass_types thấp nhất

              Player  Off-Outcomes-Pass_types
0    Aaron Cresswell                      0.0
111   Daniel Bentley                      0.0
108   Daiki Hashioka                      0.0

Top 3 cầu thủ có chỉ số Blocks-Outcomes-Pass_types cao nhất

               Player  Blocks-Outcomes-Pass_types
464   Tyrick Mitchell                        70.0
42   Antonee Robinson                        68.0
387       Pedro Porro                        68.0

Top 3 cầu thủ có chỉ số Blocks-Outcomes-Pass_types thấp nhất

              Player  Blocks-Outcomes-Pass_types
111   Daniel Bentley                         0.0
408      Robin Olsen                         0.0
311  Martin Dúbravka                         0.0

Top 3 cầu thủ có chỉ số SCA-SCA-Goal_and_shoot_Creation cao nhất

              Player  SCA-SCA-Goal_and_shoot_Creation
312  Martin Ødegaard                            220.0
70   Bruno Fernandes                            210.0
74       Bukayo Saka                            188.0

Top 3 cầu thủ có chỉ số SCA-SCA-Goal_and_shoot_Creation thấp nhất

               Player  SCA-SCA-Goal_and_shoot_Creation
120        David Ozoh                              0.0
449  Thomas Strakosha                              0.0
2      Aaron Ramsdale                              0.0

Top 3 cầu thủ có chỉ số SCA90-SCA-Goal_and_shoot_Creation cao nhất

              Player  SCA90-SCA-Goal_and_shoot_Creation
301    Manor Solomon                               8.59
14        Alex Iwobi                               7.77
264  Kevin De Bruyne                               7.36

Top 3 cầu thủ có chỉ số SCA90-SCA-Goal_and_shoot_Creation thấp nhất

                 Player  SCA90-SCA-Goal_and_shoot_Creation
297  Mads Juel Andersen                                0.0
450      Tim Iroegbunam                                0.0
449    Thomas Strakosha                                0.0

Top 3 cầu thủ có chỉ số PassLive-SCA_types-Goal_and_shoot_Creation cao nhất

              Player  PassLive-SCA_types-Goal_and_shoot_Creation
312  Martin Ødegaard                                       178.0
70   Bruno Fernandes                                       143.0
74       Bukayo Saka                                       137.0

Top 3 cầu thủ có chỉ số PassLive-SCA_types-Goal_and_shoot_Creation thấp nhất

             Player  PassLive-SCA_types-Goal_and_shoot_Creation
120      David Ozoh                                         0.0
35   Angelo Ogbonna                                         0.0
437   Stefan Ortega                                         0.0

Top 3 cầu thủ có chỉ số PassDead-SCA_types-Goal_and_shoot_Creation cao nhất

                Player  PassDead-SCA_types-Goal_and_shoot_Creation
384        Pascal Groß                                        54.0
212  James Ward-Prowse                                        51.0
28     Andreas Pereira                                        48.0

Top 3 cầu thủ có chỉ số PassDead-SCA_types-Goal_and_shoot_Creation thấp nhất

               Player  PassDead-SCA_types-Goal_and_shoot_Creation
492  Łukasz Fabiański                                         0.0
239       Jonny Evans                                         0.0
238       John Stones                                         0.0

Top 3 cầu thủ có chỉ số TO-SCA_types-Goal_and_shoot_Creation cao nhất

              Player  TO-SCA_types-Goal_and_shoot_Creation
342   Mohammed Kudus                                  25.0
363  Nicolas Jackson                                  18.0
291        Luis Díaz                                  17.0

Top 3 cầu thủ có chỉ số TO-SCA_types-Goal_and_shoot_Creation thấp nhất

                 Player  TO-SCA_types-Goal_and_shoot_Creation
0       Aaron Cresswell                                   0.0
277        Leon Chiwome                                   0.0
274  Leander Dendoncker                                   0.0

Top 3 cầu thủ có chỉ số Sh-SCA_types-Goal_and_shoot_Creation cao nhất

            Player  Sh-SCA_types-Goal_and_shoot_Creation
341  Mohamed Salah                                  21.0
378  Ollie Watkins                                  18.0
291      Luis Díaz                                  15.0

Top 3 cầu thủ có chỉ số Sh-SCA_types-Goal_and_shoot_Creation thấp nhất

              Player  Sh-SCA_types-Goal_and_shoot_Creation
0    Aaron Cresswell                                   0.0
239      Jonny Evans                                   0.0
241     Jordan Beyer                                   0.0

Top 3 cầu thủ có chỉ số Fld-SCA_types-Goal_and_shoot_Creation cao nhất

                 Player  Fld-SCA_types-Goal_and_shoot_Creation
39       Anthony Gordon                                   13.0
240         Jordan Ayew                                   12.0
12   Alejandro Garnacho                                   12.0

Top 3 cầu thủ có chỉ số Fld-SCA_types-Goal_and_shoot_Creation thấp nhất

               Player  Fld-SCA_types-Goal_and_shoot_Creation
492  Łukasz Fabiański                                    0.0
197     Jack Robinson                                    0.0
415   Ryan John Giles                                    0.0

Top 3 cầu thủ có chỉ số Def-SCA_types-Goal_and_shoot_Creation cao nhất

              Player  Def-SCA_types-Goal_and_shoot_Creation
104  Conor Gallagher                                    6.0
71   Bruno Guimarães                                    6.0
409            Rodri                                    6.0

Top 3 cầu thủ có chỉ số Def-SCA_types-Goal_and_shoot_Creation thấp nhất

              Player  Def-SCA_types-Goal_and_shoot_Creation
0    Aaron Cresswell                                    0.0
296      Lyle Foster                                    0.0
295      Luke Thomas                                    0.0

Top 3 cầu thủ có chỉ số GCA-GCA-Goal_and_shoot_Creation cao nhất

             Player  GCA-GCA-Goal_and_shoot_Creation
39   Anthony Gordon                             29.0
101     Cole Palmer                             26.0
378   Ollie Watkins                             26.0

Top 3 cầu thủ có chỉ số GCA-GCA-Goal_and_shoot_Creation thấp nhất

               Player  GCA-GCA-Goal_and_shoot_Creation
492  Łukasz Fabiański                              0.0
325       Matt Turner                              0.0
327         Matz Sels                              0.0

Top 3 cầu thủ có chỉ số GCA90-GCA-Goal_and_shoot_Creation cao nhất

                 Player  GCA90-GCA-Goal_and_shoot_Creation
380          Oscar Bobb                               1.79
191        Ivan Perišić                               1.75
85   Carney Chukwuemeka                               1.59

Top 3 cầu thủ có chỉ số GCA90-GCA-Goal_and_shoot_Creation thấp nhất

                   Player  GCA90-GCA-Goal_and_shoot_Creation
492      Łukasz Fabiański                                0.0
148             Eric Dier                                0.0
370  Odisseas Vlachodimos                                0.0

Top 3 cầu thủ có chỉ số PassLive-GCS_types-Goal_and_shoot_Creation cao nhất

              Player  PassLive-GCS_types-Goal_and_shoot_Creation
101      Cole Palmer                                        20.0
312  Martin Ødegaard                                        18.0
409            Rodri                                        17.0

Top 3 cầu thủ có chỉ số PassLive-GCS_types-Goal_and_shoot_Creation thấp nhất

                Player  PassLive-GCS_types-Goal_and_shoot_Creation
492   Łukasz Fabiański                                         0.0
322  Mathias Jørgensen                                         0.0
108     Daiki Hashioka                                         0.0

Top 3 cầu thủ có chỉ số PassDead-GCS_types-Goal_and_shoot_Creation cao nhất

                Player  PassDead-GCS_types-Goal_and_shoot_Creation
212  James Ward-Prowse                                         7.0
123        Declan Rice                                         5.0
104    Conor Gallagher                                         5.0

Top 3 cầu thủ có chỉ số PassDead-GCS_types-Goal_and_shoot_Creation thấp nhất

              Player  PassDead-GCS_types-Goal_and_shoot_Creation
0    Aaron Cresswell                                         0.0
327        Matz Sels                                         0.0
326       Matty Cash                                         0.0

Top 3 cầu thủ có chỉ số TO-GCS_types-Goal_and_shoot_Creation cao nhất

              Player  TO-GCS_types-Goal_and_shoot_Creation
39    Anthony Gordon                                   5.0
128       Diogo Jota                                   4.0
394  Raheem Sterling                                   4.0

Top 3 cầu thủ có chỉ số TO-GCS_types-Goal_and_shoot_Creation thấp nhất

              Player  TO-GCS_types-Goal_and_shoot_Creation
0    Aaron Cresswell                                   0.0
320    Matheus Nunes                                   0.0
319    Matheus Nunes                                   0.0

Top 3 cầu thủ có chỉ số Sh-GCS_types-Goal_and_shoot_Creation cao nhất

                    Player  Sh-GCS_types-Goal_and_shoot_Creation
378          Ollie Watkins                                   7.0
39          Anthony Gordon                                   4.0
130  Dominic Calvert-Lewin                                   3.0

Top 3 cầu thủ có chỉ số Sh-GCS_types-Goal_and_shoot_Creation thấp nhất

              Player  Sh-GCS_types-Goal_and_shoot_Creation
0    Aaron Cresswell                                   0.0
315      Mason Mount                                   0.0
314    Mason Holgate                                   0.0

Top 3 cầu thủ có chỉ số Fld-GCS_types-Goal_and_shoot_Creation cao nhất

               Player  Fld-GCS_types-Goal_and_shoot_Creation
39     Anthony Gordon                                    5.0
91   Chiedozie Ogbene                                    4.0
136     Eddie Nketiah                                    3.0

Top 3 cầu thủ có chỉ số Fld-GCS_types-Goal_and_shoot_Creation thấp nhất

                Player  Fld-GCS_types-Goal_and_shoot_Creation
0      Aaron Cresswell                                    0.0
323       Matt Doherty                                    0.0
322  Mathias Jørgensen                                    0.0

Top 3 cầu thủ có chỉ số Def-GCS_types-Goal_and_shoot_Creation cao nhất

           Player  Def-GCS_types-Goal_and_shoot_Creation
101   Cole Palmer                                    2.0
43         Antony                                    2.0
206  James Garner                                    2.0

Top 3 cầu thủ có chỉ số Def-GCS_types-Goal_and_shoot_Creation thấp nhất

              Player  Def-GCS_types-Goal_and_shoot_Creation
0    Aaron Cresswell                                    0.0
329       Max Kilman                                    0.0
328       Max Aarons                                    0.0

Top 3 cầu thủ có chỉ số Tkl-Tackles-Defensive_Actions cao nhất

             Player  Tkl-Tackles-Defensive_Actions
249   João Palhinha                          152.0
248      João Gomes                          128.0
468  Vinicius Souza                          125.0

Top 3 cầu thủ có chỉ số Tkl-Tackles-Defensive_Actions thấp nhất

             Player  Tkl-Tackles-Defensive_Actions
361            Neto                            0.0
247         José Sá                            0.0
491  Đorđe Petrović                            0.0

Top 3 cầu thủ có chỉ số TklW-Tackles-Defensive_Actions cao nhất

             Player  TklW-Tackles-Defensive_Actions
468  Vinicius Souza                            76.0
249   João Palhinha                            75.0
248      João Gomes                            74.0

Top 3 cầu thủ có chỉ số TklW-Tackles-Defensive_Actions thấp nhất

               Player  TklW-Tackles-Defensive_Actions
492  Łukasz Fabiański                             0.0
327         Matz Sels                             0.0
325       Matt Turner                             0.0

Top 3 cầu thủ có chỉ số Def 3rd-Tackles-Defensive_Actions cao nhất

              Player  Def 3rd-Tackles-Defensive_Actions
249    João Palhinha                               80.0
464  Tyrick Mitchell                               75.0
248       João Gomes                               67.0

Top 3 cầu thủ có chỉ số Def 3rd-Tackles-Defensive_Actions thấp nhất

             Player  Def 3rd-Tackles-Defensive_Actions
266   Kieffer Moore                                0.0
45    Armando Broja                                0.0
355  Nathan Redmond                                0.0

Top 3 cầu thủ có chỉ số Mid 3rd-Tackles-Defensive_Actions cao nhất

                  Player  Mid 3rd-Tackles-Defensive_Actions
249        João Palhinha                               60.0
468       Vinicius Souza                               51.0
17   Alexis Mac Allister                               50.0

Top 3 cầu thủ có chỉ số Mid 3rd-Tackles-Defensive_Actions thấp nhất

               Player  Mid 3rd-Tackles-Defensive_Actions
492  Łukasz Fabiański                                0.0
320     Matheus Nunes                                0.0
311   Martin Dúbravka                                0.0

Top 3 cầu thủ có chỉ số Att 3rd-Tackles-Defensive_Actions cao nhất

               Player  Att 3rd-Tackles-Defensive_Actions
124  Dejan Kulusevski                               23.0
74        Bukayo Saka                               20.0
104   Conor Gallagher                               17.0

Top 3 cầu thủ có chỉ số Att 3rd-Tackles-Defensive_Actions thấp nhất

               Player  Att 3rd-Tackles-Defensive_Actions
492  Łukasz Fabiański                                0.0
247           José Sá                                0.0
265      Kevin Schade                                0.0

Top 3 cầu thủ có chỉ số Tkl-Challenges-Defensive_Actions cao nhất

                  Player  Tkl-Challenges-Defensive_Actions
249        João Palhinha                             103.0
387          Pedro Porro                              62.0
17   Alexis Mac Allister                              59.0

Top 3 cầu thủ có chỉ số Tkl-Challenges-Defensive_Actions thấp nhất

                   Player  Tkl-Challenges-Defensive_Actions
111        Daniel Bentley                               0.0
266         Kieffer Moore                               0.0
370  Odisseas Vlachodimos                               0.0

Top 3 cầu thủ có chỉ số Att-Challenges-Defensive_Actions cao nhất

                  Player  Att-Challenges-Defensive_Actions
249        João Palhinha                             152.0
17   Alexis Mac Allister                             125.0
387          Pedro Porro                             120.0

Top 3 cầu thủ có chỉ số Att-Challenges-Defensive_Actions thấp nhất

             Player  Att-Challenges-Defensive_Actions
491  Đorđe Petrović                               0.0
361            Neto                               0.0
310    Mark Travers                               0.0

Top 3 cầu thủ có chỉ số Tkl%-Challenges-Defensive_Actions cao nhất

             Player  Tkl%-Challenges-Defensive_Actions
418   Sam Johnstone                              100.0
121      David Raya                              100.0
369  Odeluga Offiah                              100.0

Top 3 cầu thủ có chỉ số Tkl%-Challenges-Defensive_Actions thấp nhất

                   Player  Tkl%-Challenges-Defensive_Actions
236            John Fleck                                0.0
370  Odisseas Vlachodimos                                0.0
145     Emiliano Martínez                                0.0

Top 3 cầu thủ có chỉ số Lost-Challenges-Defensive_Actions cao nhất

                     Player  Lost-Challenges-Defensive_Actions
321          Mathias Jensen                               69.0
17      Alexis Mac Allister                               66.0
461  Trent Alexander-Arnold                               60.0

Top 3 cầu thủ có chỉ số Lost-Challenges-Defensive_Actions thấp nhất

              Player  Lost-Challenges-Defensive_Actions
148        Eric Dier                                0.0
40   Anthony Martial                                0.0
361             Neto                                0.0

Top 3 cầu thủ có chỉ số Blocks-Challenges-Defensive_Actions cao nhất

                  Player  Blocks-Challenges-Defensive_Actions
210      James Tarkowski                                 82.0
86              Casemiro                                 74.0
17   Alexis Mac Allister                                 65.0

Top 3 cầu thủ có chỉ số Blocks-Challenges-Defensive_Actions thấp nhất

               Player  Blocks-Challenges-Defensive_Actions
492  Łukasz Fabiański                                  0.0
369    Odeluga Offiah                                  0.0
362         Nick Pope                                  0.0

Top 3 cầu thủ có chỉ số Sh-Blocks-Defensive_Actions cao nhất

              Player  Sh-Blocks-Defensive_Actions
210  James Tarkowski                         56.0
105     Craig Dawson                         39.0
153     Fabian Schär                         38.0

Top 3 cầu thủ có chỉ số Sh-Blocks-Defensive_Actions thấp nhất

                Player  Sh-Blocks-Defensive_Actions
492   Łukasz Fabiański                          0.0
169  Guglielmo Vicario                          0.0
320      Matheus Nunes                          0.0

Top 3 cầu thủ có chỉ số Pass-Blocks-Defensive_Actions cao nhất

                  Player  Pass-Blocks-Defensive_Actions
17   Alexis Mac Allister                           57.0
464      Tyrick Mitchell                           53.0
249        João Palhinha                           48.0

Top 3 cầu thủ có chỉ số Pass-Blocks-Defensive_Actions thấp nhất

               Player  Pass-Blocks-Defensive_Actions
492  Łukasz Fabiański                            0.0
236        John Fleck                            0.0
362         Nick Pope                            0.0

Top 3 cầu thủ có chỉ số Int-Blocks-Defensive_Actions cao nhất

               Player  Int-Blocks-Defensive_Actions
42   Antonee Robinson                          80.0
280        Lewis Cook                          65.0
445       Teden Mengi                          57.0

Top 3 cầu thủ có chỉ số Int-Blocks-Defensive_Actions thấp nhất

              Player  Int-Blocks-Defensive_Actions
137          Ederson                           0.0
69   Brennan Johnson                           0.0
33       André Onana                           0.0

Top 3 cầu thủ có chỉ số Tkl+Int-Blocks-Defensive_Actions cao nhất

               Player  Tkl+Int-Blocks-Defensive_Actions
249     João Palhinha                             198.0
42   Antonee Robinson                             173.0
468    Vinicius Souza                             157.0

Top 3 cầu thủ có chỉ số Tkl+Int-Blocks-Defensive_Actions thấp nhất

              Player  Tkl+Int-Blocks-Defensive_Actions
266    Kieffer Moore                               0.0
310     Mark Travers                               0.0
311  Martin Dúbravka                               0.0

Top 3 cầu thủ có chỉ số Clr-Blocks-Defensive_Actions cao nhất

               Player  Clr-Blocks-Defensive_Actions
228  Joachim Andersen                         207.0
210   James Tarkowski                         191.0
348           Murillo                         188.0

Top 3 cầu thủ có chỉ số Clr-Blocks-Defensive_Actions thấp nhất

               Player  Clr-Blocks-Defensive_Actions
449  Thomas Strakosha                           0.0
166         Gio Reyna                           0.0
160       Fábio Silva                           0.0

Top 3 cầu thủ có chỉ số Err-Blocks-Defensive_Actions cao nhất

              Player  Err-Blocks-Defensive_Actions
475  Wes Foderingham                           6.0
121       David Raya                           5.0
247          José Sá                           5.0

Top 3 cầu thủ có chỉ số Err-Blocks-Defensive_Actions thấp nhất

                 Player  Err-Blocks-Defensive_Actions
0       Aaron Cresswell                           0.0
298       Mads Roerslev                           0.0
297  Mads Juel Andersen                           0.0

Top 3 cầu thủ có chỉ số Touches-Touches-Possession cao nhất

          Player  Touches-Touches-Possession
409        Rodri                      3988.0
384  Pascal Groß                      3534.0
282   Lewis Dunk                      3481.0

Top 3 cầu thủ có chỉ số Touches-Touches-Possession thấp nhất

           Player  Touches-Touches-Possession
277  Leon Chiwome                        39.0
358   Neal Maupay                        40.0
236    John Fleck                        49.0

Top 3 cầu thủ có chỉ số Def Pen-Touches-Possession cao nhất

                Player  Def Pen-Touches-Possession
62          Bernd Leno                      1275.0
309       Mark Flekken                      1268.0
169  Guglielmo Vicario                      1252.0

Top 3 cầu thủ có chỉ số Def Pen-Touches-Possession thấp nhất

            Player  Def Pen-Touches-Possession
281   Lewis Dobbin                         0.0
60   Benson Manuel                         0.0
14      Alex Iwobi                         0.0

Top 3 cầu thủ có chỉ số Def 3rd-Touches-Possession cao nhất

                Player  Def 3rd-Touches-Possession
282         Lewis Dunk                      1811.0
169  Guglielmo Vicario                      1664.0
62          Bernd Leno                      1645.0

Top 3 cầu thủ có chỉ số Def 3rd-Touches-Possession thấp nhất

            Player  Def 3rd-Touches-Possession
358    Neal Maupay                         1.0
266  Kieffer Moore                         2.0
14      Alex Iwobi                         5.0

Top 3 cầu thủ có chỉ số Mid 3rd-Touches-Possession cao nhất

              Player  Mid 3rd-Touches-Possession
409            Rodri                      2337.0
469  Virgil van Dijk                      1757.0
478   William Saliba                      1720.0

Top 3 cầu thủ có chỉ số Mid 3rd-Touches-Possession thấp nhất

             Player  Mid 3rd-Touches-Possession
122  Dean Henderson                         0.0
188      Ionuț Radu                         0.0
310    Mark Travers                         0.0

Top 3 cầu thủ có chỉ số Att 3rd-Touches-Possession cao nhất

              Player  Att 3rd-Touches-Possession
74       Bukayo Saka                      1310.0
390       Phil Foden                      1211.0
312  Martin Ødegaard                      1173.0

Top 3 cầu thủ có chỉ số Att 3rd-Touches-Possession thấp nhất

               Player  Att 3rd-Touches-Possession
492  Łukasz Fabiański                         0.0
407    Robert Sánchez                         0.0
33        André Onana                         0.0

Top 3 cầu thủ có chỉ số Att Pen-Touches-Possession cao nhất

                 Player  Att Pen-Touches-Possession
74          Bukayo Saka                       271.0
12   Alejandro Garnacho                       248.0
341       Mohamed Salah                       241.0

Top 3 cầu thủ có chỉ số Att Pen-Touches-Possession thấp nhất

               Player  Att Pen-Touches-Possession
492  Łukasz Fabiański                         0.0
247           José Sá                         0.0
491    Đorđe Petrović                         0.0

Top 3 cầu thủ có chỉ số Live-Touches-Possession cao nhất

          Player  Live-Touches-Possession
409        Rodri                   3988.0
384  Pascal Groß                   3533.0
282   Lewis Dunk                   3481.0

Top 3 cầu thủ có chỉ số Live-Touches-Possession thấp nhất

           Player  Live-Touches-Possession
277  Leon Chiwome                     39.0
358   Neal Maupay                     40.0
236    John Fleck                     49.0

Top 3 cầu thủ có chỉ số Att-Take_Ons-Possession cao nhất

             Player  Att-Take_Ons-Possession
342  Mohammed Kudus                    221.0
225     Jeremy Doku                    169.0
291       Luis Díaz                    140.0

Top 3 cầu thủ có chỉ số Att-Take_Ons-Possession thấp nhất

               Player  Att-Take_Ons-Possession
492  Łukasz Fabiański                      0.0
62         Bernd Leno                      0.0
491    Đorđe Petrović                      0.0

Top 3 cầu thủ có chỉ số Succ-Take_Ons-Possession cao nhất

              Player  Succ-Take_Ons-Possession
342   Mohammed Kudus                     124.0
225      Jeremy Doku                      87.0
71   Bruno Guimarães                      72.0

Top 3 cầu thủ có chỉ số Succ-Take_Ons-Possession thấp nhất

              Player  Succ-Take_Ons-Possession
0    Aaron Cresswell                       0.0
491   Đorđe Petrović                       0.0
236       John Fleck                       0.0

Top 3 cầu thủ có chỉ số Succ%-Take_Ons-Possession cao nhất

              Player  Succ%-Take_Ons-Possession
50   Bart Verbruggen                      100.0
361             Neto                      100.0
243  Jordan Pickford                      100.0

Top 3 cầu thủ có chỉ số Succ%-Take_Ons-Possession thấp nhất

              Player  Succ%-Take_Ons-Possession
0    Aaron Cresswell                        0.0
491   Đorđe Petrović                        0.0
236       John Fleck                        0.0

Top 3 cầu thủ có chỉ số Tkld-Take_Ons-Possession cao nhất

               Player  Tkld-Take_Ons-Possession
342    Mohammed Kudus                      77.0
394   Raheem Sterling                      70.0
124  Dejan Kulusevski                      66.0

Top 3 cầu thủ có chỉ số Tkld-Take_Ons-Possession thấp nhất

               Player  Tkld-Take_Ons-Possession
492  Łukasz Fabiański                       0.0
491    Đorđe Petrović                       0.0
247           José Sá                       0.0

Top 3 cầu thủ có chỉ số Tkld%-Take_Ons-Possession cao nhất

                 Player  Tkld%-Take_Ons-Possession
0       Aaron Cresswell                      100.0
297  Mads Juel Andersen                      100.0
417          Rúben Dias                      100.0

Top 3 cầu thủ có chỉ số Tkld%-Take_Ons-Possession thấp nhất

               Player  Tkld%-Take_Ons-Possession
492  Łukasz Fabiański                        0.0
408       Robin Olsen                        0.0
310      Mark Travers                        0.0

Top 3 cầu thủ có chỉ số Carries-Carries-Possession cao nhất

          Player  Carries-Carries-Possession
409        Rodri                      2513.0
282   Lewis Dunk                      2417.0
384  Pascal Groß                      2284.0

Top 3 cầu thủ có chỉ số Carries-Carries-Possession thấp nhất

           Player  Carries-Carries-Possession
277  Leon Chiwome                        16.0
236    John Fleck                        19.0
358   Neal Maupay                        20.0

Top 3 cầu thủ có chỉ số TotDist-Carries-Possession cao nhất

         Player  TotDist-Carries-Possession
409       Rodri                     11575.0
417  Rúben Dias                     10862.0
282  Lewis Dunk                     10752.0

Top 3 cầu thủ có chỉ số TotDist-Carries-Possession thấp nhất

            Player  TotDist-Carries-Possession
236     John Fleck                        81.0
277   Leon Chiwome                        86.0
353  Nathan Fraser                        88.0

Top 3 cầu thủ có chỉ số PrgDist-Carries-Possession cao nhất

                 Player  PrgDist-Carries-Possession
417          Rúben Dias                      6693.0
409               Rodri                      6408.0
213  Jan Paul van Hecke                      6274.0

Top 3 cầu thủ có chỉ số PrgDist-Carries-Possession thấp nhất

                 Player  PrgDist-Carries-Possession
353       Nathan Fraser                        22.0
274  Leander Dendoncker                        27.0
293          Luke Berry                        30.0

Top 3 cầu thủ có chỉ số PrgC-Carries-Possession cao nhất

                 Player  PrgC-Carries-Possession
225         Jeremy Doku                    218.0
12   Alejandro Garnacho                    178.0
74          Bukayo Saka                    155.0

Top 3 cầu thủ có chỉ số PrgC-Carries-Possession thấp nhất

               Player  PrgC-Carries-Possession
492  Łukasz Fabiański                      0.0
327         Matz Sels                      0.0
325       Matt Turner                      0.0

Top 3 cầu thủ có chỉ số 1/3-Carries-Possession cao nhất

                 Player  1/3-Carries-Possession
409               Rodri                    88.0
312     Martin Ødegaard                    83.0
12   Alejandro Garnacho                    83.0

Top 3 cầu thủ có chỉ số 1/3-Carries-Possession thấp nhất

                   Player  1/3-Carries-Possession
492      Łukasz Fabiański                     0.0
44         Arijanet Muric                     0.0
370  Odisseas Vlachodimos                     0.0

Top 3 cầu thủ có chỉ số CPA-Carries-Possession cao nhất

                 Player  CPA-Carries-Possession
225         Jeremy Doku                   147.0
12   Alejandro Garnacho                   102.0
124    Dejan Kulusevski                    82.0

Top 3 cầu thủ có chỉ số CPA-Carries-Possession thấp nhất

               Player  CPA-Carries-Possession
0     Aaron Cresswell                     0.0
202    Jaidon Anthony                     0.0
205  Jamaal Lascelles                     0.0

Top 3 cầu thủ có chỉ số Mis-Carries-Possession cao nhất

                   Player  Mis-Carries-Possession
131       Dominic Solanke                   136.0
221  Jean-Philippe Mateta                    89.0
363       Nicolas Jackson                    87.0

Top 3 cầu thủ có chỉ số Mis-Carries-Possession thấp nhất

             Player  Mis-Carries-Possession
0   Aaron Cresswell                     0.0
50  Bart Verbruggen                     0.0
78   Calum Chambers                     0.0

Top 3 cầu thủ có chỉ số Dis-Carries-Possession cao nhất

              Player  Dis-Carries-Possession
342   Mohammed Kudus                    93.0
131  Dominic Solanke                    81.0
290    Lucas Paquetá                    81.0

Top 3 cầu thủ có chỉ số Dis-Carries-Possession thấp nhất

               Player  Dis-Carries-Possession
492  Łukasz Fabiański                     0.0
35     Angelo Ogbonna                     0.0
330          Max Lowe                     0.0

Top 3 cầu thủ có chỉ số Rec-Receiving-Possession cao nhất

          Player  Rec-Receiving-Possession
409        Rodri                    3242.0
384  Pascal Groß                    2736.0
282   Lewis Dunk                    2681.0

Top 3 cầu thủ có chỉ số Rec-Receiving-Possession thấp nhất

           Player  Rec-Receiving-Possession
277  Leon Chiwome                      18.0
236    John Fleck                      27.0
358   Neal Maupay                      28.0

Top 3 cầu thủ có chỉ số PrgR-Receiving-Possession cao nhất

                 Player  PrgR-Receiving-Possession
74          Bukayo Saka                      508.0
124    Dejan Kulusevski                      388.0
163  Gabriel Martinelli                      345.0

Top 3 cầu thủ có chỉ số PrgR-Receiving-Possession thấp nhất

               Player  PrgR-Receiving-Possession
492  Łukasz Fabiański                        0.0
35     Angelo Ogbonna                        0.0
362         Nick Pope                        0.0

Top 3 cầu thủ có chỉ số 90s-Starts-Playing_time cao nhất

              Player  90s-Starts-Playing_time
243  Jordan Pickford                     38.0
447  Thomas Kaminski                     38.0
62        Bernd Leno                     38.0

Top 3 cầu thủ có chỉ số 90s-Starts-Playing_time thấp nhất

                Player  90s-Starts-Playing_time
324       Matt Ritchie                      0.0
191       Ivan Perišić                      0.0
226  Jesurun Rak Sakyi                      0.0

Top 3 cầu thủ có chỉ số Starts-Starts-Playing_time cao nhất

               Player  Starts-Starts-Playing_time
492  Łukasz Fabiański                        90.0
172   Hannibal Mejbri                        90.0
418     Sam Johnstone                        90.0

Top 3 cầu thủ có chỉ số Starts-Starts-Playing_time thấp nhất

                Player  Starts-Starts-Playing_time
226  Jesurun Rak Sakyi                         0.0
324       Matt Ritchie                         0.0
259    Kalvin Phillips                         0.0

Top 3 cầu thủ có chỉ số Mn/Start-Starts-Playing_time cao nhất

                Player  Mn/Start-Starts-Playing_time
169  Guglielmo Vicario                          38.0
33         André Onana                          38.0
243    Jordan Pickford                          38.0

Top 3 cầu thủ có chỉ số Mn/Start-Starts-Playing_time thấp nhất

                 Player  Mn/Start-Starts-Playing_time
402      Rhian Brewster                           0.0
293          Luke Berry                           0.0
98   Christopher Nkunku                           0.0

Top 3 cầu thủ có chỉ số Compl-Sub-Playing_time cao nhất

              Player  Compl-Sub-Playing_time
392  Pierre Højbjerg                    28.0
178   Harvey Elliott                    23.0
87    Cauley Woodrow                    22.0

Top 3 cầu thủ có chỉ số Compl-Sub-Playing_time thấp nhất

              Player  Compl-Sub-Playing_time
99   Clément Lenglet                     0.0
387      Pedro Porro                     0.0
71   Bruno Guimarães                     0.0

Top 3 cầu thủ có chỉ số Subs-Sub-Playing_time cao nhất

             Player  Subs-Sub-Playing_time
39   Anthony Gordon                   79.0
9      Adam Wharton                   63.0
111  Daniel Bentley                   57.0

Top 3 cầu thủ có chỉ số Subs-Sub-Playing_time thấp nhất

                 Player  Subs-Sub-Playing_time
215  Jarrad Branthwaite                    0.0
121          David Raya                    0.0
294           Luke Shaw                    0.0

Top 3 cầu thủ có chỉ số Mn/Sub-Sub-Playing_time cao nhất

               Player  Mn/Sub-Sub-Playing_time
111    Daniel Bentley                     33.0
449  Thomas Strakosha                     32.0
2      Aaron Ramsdale                     31.0

Top 3 cầu thủ có chỉ số Mn/Sub-Sub-Playing_time thấp nhất

                 Player  Mn/Sub-Sub-Playing_time
344  Morgan Gibbs-White                      0.0
431     Sergio Reguilón                      0.0
285   Lisandro Martínez                      0.0

Top 3 cầu thủ có chỉ số unSub-Team_Success-Playing_time cao nhất

              Player  unSub-Team_Success-Playing_time
448    Thomas Partey                             2.71
2     Aaron Ramsdale                             2.67
264  Kevin De Bruyne                             2.67

Top 3 cầu thủ có chỉ số unSub-Team_Success-Playing_time thấp nhất

            Player  unSub-Team_Success-Playing_time
14      Alex Iwobi                              0.0
358    Neal Maupay                              0.0
320  Matheus Nunes                              0.0

Top 3 cầu thủ có chỉ số PPM-Team_Success-Playing_time cao nhất

             Player  PPM-Team_Success-Playing_time
478  William Saliba                           91.0
409           Rodri                           87.0
123     Declan Rice                           84.0

Top 3 cầu thủ có chỉ số PPM-Team_Success-Playing_time thấp nhất

             Player  PPM-Team_Success-Playing_time
402  Rhian Brewster                            0.0
358     Neal Maupay                            0.0
14       Alex Iwobi                            0.0

Top 3 cầu thủ có chỉ số onG-Team_Success-Playing_time cao nhất

               Player  onG-Team_Success-Playing_time
34   Anel Ahmedhodžić                           89.0
447   Thomas Kaminski                           85.0
170     Gustavo Hamer                           83.0

Top 3 cầu thủ có chỉ số onG-Team_Success-Playing_time thấp nhất

              Player  onG-Team_Success-Playing_time
172  Hannibal Mejbri                            1.0
191     Ivan Perišić                            1.0
401     Reiss Nelson                            1.0

Top 3 cầu thủ có chỉ số onGA-Team_Success-Playing_time cao nhất

              Player  onGA-Team_Success-Playing_time
478   William Saliba                            62.0
409            Rodri                            61.0
312  Martin Ødegaard                            58.0

Top 3 cầu thủ có chỉ số onGA-Team_Success-Playing_time thấp nhất

               Player  onGA-Team_Success-Playing_time
34   Anel Ahmedhodžić                           -61.0
48      Auston Trusty                           -59.0
475   Wes Foderingham                           -55.0

Top 3 cầu thủ có chỉ số +/--Team_Success-Playing_time cao nhất

           Player  +/--Team_Success-Playing_time
401  Reiss Nelson                           3.02
203  Jakub Kiwior                           2.95
154  Fabio Vieira                           2.73

Top 3 cầu thủ có chỉ số +/--Team_Success-Playing_time thấp nhất

                     Player  +/--Team_Success-Playing_time
403  Rhys Norrington-Davies                          -4.09
236              John Fleck                          -3.91
60            Benson Manuel                          -3.88

Top 3 cầu thủ có chỉ số +/-90-Team_Success-Playing_time cao nhất

                Player  +/-90-Team_Success-Playing_time
145  Emiliano Martínez                             2.72
423     Sasa Kalajdzic                             2.69
131    Dominic Solanke                             2.57

Top 3 cầu thủ có chỉ số +/-90-Team_Success-Playing_time thấp nhất

             Player  +/-90-Team_Success-Playing_time
148       Eric Dier                            -3.69
72        Bryan Gil                            -3.57
187  Illia Zabarnyi                            -3.43

Top 3 cầu thủ có chỉ số On-Off-Team_Success(xG)-Playing_time cao nhất

              Player  On-Off-Team_Success(xG)-Playing_time
469  Virgil van Dijk                                  82.1
478   William Saliba                                  76.1
71   Bruno Guimarães                                  74.0

Top 3 cầu thủ có chỉ số On-Off-Team_Success(xG)-Playing_time thấp nhất

              Player  On-Off-Team_Success(xG)-Playing_time
60     Benson Manuel                                   0.5
202   Jaidon Anthony                                   0.6
444  Tawanda Chirewa                                   0.8

Top 3 cầu thủ có chỉ số onxG-Team_Success(xG)-Playing_time cao nhất

              Player  onxG-Team_Success(xG)-Playing_time
447  Thomas Kaminski                                77.6
33       André Onana                                68.9
329       Max Kilman                                67.7

Top 3 cầu thủ có chỉ số onxG-Team_Success(xG)-Playing_time thấp nhất

              Player  onxG-Team_Success(xG)-Playing_time
358      Neal Maupay                                 1.5
444  Tawanda Chirewa                                 1.5
191     Ivan Perišić                                 1.5

Top 3 cầu thủ có chỉ số onxGA-Team_Success(xG)-Playing_time cao nhất

              Player  onxGA-Team_Success(xG)-Playing_time
478   William Saliba                                 48.2
123      Declan Rice                                 45.1
312  Martin Ødegaard                                 43.7

Top 3 cầu thủ có chỉ số onxGA-Team_Success(xG)-Playing_time thấp nhất

              Player  onxGA-Team_Success(xG)-Playing_time
447  Thomas Kaminski                                -35.4
475  Wes Foderingham                                -33.2
468   Vinicius Souza                                -32.7

Top 3 cầu thủ có chỉ số xG+/--Team_Success(xG)-Playing_time cao nhất

            Player  xG+/--Team_Success(xG)-Playing_time
154   Fabio Vieira                                 1.94
380     Oscar Bobb                                 1.86
266  Kieffer Moore                                 1.85

Top 3 cầu thủ có chỉ số xG+/--Team_Success(xG)-Playing_time thấp nhất

             Player  xG+/--Team_Success(xG)-Playing_time
60    Benson Manuel                                -3.00
202  Jaidon Anthony                                -2.27
235       John Egan                                -2.06

Top 3 cầu thủ có chỉ số xG+/-90-Team_Success(xG)-Playing_time cao nhất

              Player  xG+/-90-Team_Success(xG)-Playing_time
210  James Tarkowski                                  29.83
423   Sasa Kalajdzic                                   2.16
266    Kieffer Moore                                   1.97

Top 3 cầu thủ có chỉ số xG+/-90-Team_Success(xG)-Playing_time thấp nhất

             Player  xG+/-90-Team_Success(xG)-Playing_time
202  Jaidon Anthony                                  -2.31
60    Benson Manuel                                  -2.29
148       Eric Dier                                  -2.19

Top 3 cầu thủ có chỉ số CrdY-Performance-Miscellaneous_Stats cao nhất

            Player  CrdY-Performance-Miscellaneous_Stats
249  João Palhinha                                  13.0
305  Marcos Senesi                                  13.0
133   Douglas Luiz                                  12.0

Top 3 cầu thủ có chỉ số CrdY-Performance-Miscellaneous_Stats thấp nhất

                     Player  CrdY-Performance-Miscellaneous_Stats
492        Łukasz Fabiański                                   0.0
60            Benson Manuel                                   0.0
222  Jean-Ricner Bellegarde                                   0.0

Top 3 cầu thủ có chỉ số CrdR-Performance-Miscellaneous_Stats cao nhất

              Player  CrdR-Performance-Miscellaneous_Stats
375  Oliver McBurnie                                   2.0
488    Yves Bissouma                                   2.0
400      Reece James                                   2.0

Top 3 cầu thủ có chỉ số CrdR-Performance-Miscellaneous_Stats thấp nhất

              Player  CrdR-Performance-Miscellaneous_Stats
0    Aaron Cresswell                                   0.0
327        Matz Sels                                   0.0
326       Matty Cash                                   0.0

Top 3 cầu thủ có chỉ số 2CrdY-Performance-Miscellaneous_Stats cao nhất

              Player  2CrdY-Performance-Miscellaneous_Stats
375  Oliver McBurnie                                    2.0
125   Destiny Udogie                                    1.0
400      Reece James                                    1.0

Top 3 cầu thủ có chỉ số 2CrdY-Performance-Miscellaneous_Stats thấp nhất

              Player  2CrdY-Performance-Miscellaneous_Stats
0    Aaron Cresswell                                    0.0
330         Max Lowe                                    0.0
329       Max Kilman                                    0.0

Top 3 cầu thủ có chỉ số Fls-Performance-Miscellaneous_Stats cao nhất

               Player  Fls-Performance-Miscellaneous_Stats
104   Conor Gallagher                                 83.0
248        João Gomes                                 66.0
124  Dejan Kulusevski                                 54.0

Top 3 cầu thủ có chỉ số Fls-Performance-Miscellaneous_Stats thấp nhất

               Player  Fls-Performance-Miscellaneous_Stats
492  Łukasz Fabiański                                  0.0
247           José Sá                                  0.0
62         Bernd Leno                                  0.0

Top 3 cầu thủ có chỉ số Fld-Performance-Miscellaneous_Stats cao nhất

              Player  Fld-Performance-Miscellaneous_Stats
71   Bruno Guimarães                                108.0
240      Jordan Ayew                                 94.0
342   Mohammed Kudus                                 75.0

Top 3 cầu thủ có chỉ số Fld-Performance-Miscellaneous_Stats thấp nhất

               Player  Fld-Performance-Miscellaneous_Stats
492  Łukasz Fabiański                                  0.0
19    Alfie Gilchrist                                  0.0
418     Sam Johnstone                                  0.0

Top 3 cầu thủ có chỉ số Off-Performance-Miscellaneous_Stats cao nhất

                   Player  Off-Performance-Miscellaneous_Stats
117          Darwin Núñez                                 33.0
363       Nicolas Jackson                                 28.0
221  Jean-Philippe Mateta                                 24.0

Top 3 cầu thủ có chỉ số Off-Performance-Miscellaneous_Stats thấp nhất

            Player  Off-Performance-Miscellaneous_Stats
246    Josh Cullen                                  0.0
266  Kieffer Moore                                  0.0
263     Kenny Tete                                  0.0

Top 3 cầu thủ có chỉ số Crs-Performance-Miscellaneous_Stats cao nhất

            Player  Crs-Performance-Miscellaneous_Stats
18   Alfie Doughty                                340.0
384    Pascal Groß                                238.0
134  Dwight McNeil                                229.0

Top 3 cầu thủ có chỉ số Crs-Performance-Miscellaneous_Stats thấp nhất

               Player  Crs-Performance-Miscellaneous_Stats
492  Łukasz Fabiański                                  0.0
358       Neal Maupay                                  0.0
62         Bernd Leno                                  0.0

Top 3 cầu thủ có chỉ số Int-Performance-Miscellaneous_Stats cao nhất

               Player  Int-Performance-Miscellaneous_Stats
42   Antonee Robinson                                 80.0
280        Lewis Cook                                 65.0
445       Teden Mengi                                 57.0

Top 3 cầu thủ có chỉ số Int-Performance-Miscellaneous_Stats thấp nhất

              Player  Int-Performance-Miscellaneous_Stats
137          Ederson                                  0.0
69   Brennan Johnson                                  0.0
33       André Onana                                  0.0

Top 3 cầu thủ có chỉ số TklW-Performance-Miscellaneous_Stats cao nhất

             Player  TklW-Performance-Miscellaneous_Stats
468  Vinicius Souza                                  76.0
249   João Palhinha                                  75.0
248      João Gomes                                  74.0

Top 3 cầu thủ có chỉ số TklW-Performance-Miscellaneous_Stats thấp nhất

               Player  TklW-Performance-Miscellaneous_Stats
492  Łukasz Fabiański                                   0.0
327         Matz Sels                                   0.0
325       Matt Turner                                   0.0

Top 3 cầu thủ có chỉ số PKwon-Performance-Miscellaneous_Stats cao nhất

               Player  PKwon-Performance-Miscellaneous_Stats
39     Anthony Gordon                                    6.0
394   Raheem Sterling                                    3.0
142  Emerson Palmieri                                    2.0

Top 3 cầu thủ có chỉ số PKwon-Performance-Miscellaneous_Stats thấp nhất

              Player  PKwon-Performance-Miscellaneous_Stats
0    Aaron Cresswell                                    0.0
327        Matz Sels                                    0.0
326       Matty Cash                                    0.0

Top 3 cầu thủ có chỉ số PKcon-Performance-Miscellaneous_Stats cao nhất

              Player  PKcon-Performance-Miscellaneous_Stats
189        Issa Diop                                    3.0
311  Martin Dúbravka                                    2.0
368    Nélson Semedo                                    2.0

Top 3 cầu thủ có chỉ số PKcon-Performance-Miscellaneous_Stats thấp nhất

              Player  PKcon-Performance-Miscellaneous_Stats
0    Aaron Cresswell                                    0.0
317    Matheus Cunha                                    0.0
316    Mateo Kovačić                                    0.0

Top 3 cầu thủ có chỉ số OG-Performance-Miscellaneous_Stats cao nhất

                      Player  OG-Performance-Miscellaneous_Stats
269  Konstantinos Mavropanos                                 2.0
42          Antonee Robinson                                 2.0
145        Emiliano Martínez                                 2.0

Top 3 cầu thủ có chỉ số OG-Performance-Miscellaneous_Stats thấp nhất

              Player  OG-Performance-Miscellaneous_Stats
0    Aaron Cresswell                                 0.0
328       Max Aarons                                 0.0
327        Matz Sels                                 0.0

Top 3 cầu thủ có chỉ số Recov-Performance-Miscellaneous_Stats cao nhất

              Player  Recov-Performance-Miscellaneous_Stats
71   Bruno Guimarães                                  237.0
409            Rodri                                  235.0
413    Ryan Christie                                  231.0

Top 3 cầu thủ có chỉ số Recov-Performance-Miscellaneous_Stats thấp nhất

               Player  Recov-Performance-Miscellaneous_Stats
188        Ionuț Radu                                    0.0
310      Mark Travers                                    1.0
449  Thomas Strakosha                                    1.0

Top 3 cầu thủ có chỉ số Won-Aerial_Duels-Miscellaneous_Stats cao nhất

                    Player  Won-Aerial_Duels-Miscellaneous_Stats
210        James Tarkowski                                 140.0
469        Virgil van Dijk                                 140.0
130  Dominic Calvert-Lewin                                 137.0

Top 3 cầu thủ có chỉ số Won-Aerial_Duels-Miscellaneous_Stats thấp nhất

              Player  Won-Aerial_Duels-Miscellaneous_Stats
31   Andros Townsend                                   0.0
259  Kalvin Phillips                                   0.0
26     Anass Zaroury                                   0.0

Top 3 cầu thủ có chỉ số Lost-Aerial_Duels-Miscellaneous_Stats cao nhất

                    Player  Lost-Aerial_Duels-Miscellaneous_Stats
84          Carlton Morris                                  169.0
130  Dominic Calvert-Lewin                                  144.0
131        Dominic Solanke                                  135.0

Top 3 cầu thủ có chỉ số Lost-Aerial_Duels-Miscellaneous_Stats thấp nhất

               Player  Lost-Aerial_Duels-Miscellaneous_Stats
492  Łukasz Fabiański                                    0.0
491    Đorđe Petrović                                    0.0
361              Neto                                    0.0

Top 3 cầu thủ có chỉ số Won%-Aerial_Duels-Miscellaneous_Stats cao nhất

               Player  Won%-Aerial_Duels-Miscellaneous_Stats
492  Łukasz Fabiański                                  100.0
447   Thomas Kaminski                                  100.0
217      Jason Steele                                  100.0

Top 3 cầu thủ có chỉ số Won%-Aerial_Duels-Miscellaneous_Stats thấp nhất

                   Player  Won%-Aerial_Duels-Miscellaneous_Stats
401          Reiss Nelson                                    0.0
370  Odisseas Vlachodimos                                    0.0
72              Bryan Gil                                    0.0